@import url("https://cdn.plyr.io/3.6.2/plyr.css");

.CoursePlayer{
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-self: center;
}

.CoursePlayer h2 {
  margin-bottom: 20px;
}

.PlayerGroup {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 75% 25%;
  margin: 0;
}

@media (max-width: 768px) {
  .PlayerGroup {
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}

.player {
  overflow: hidden !important;
}

.playlist {
  margin-left: 28px;
  overflow-y: auto !important;
  height: 80vh;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.playlistItem {
  background: #232528;
  overflow: hidden;
  transition: all .2s ease-in-out;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 8px;

  &:hover {
    transition: all .2s ease-in-out;
    background: #646464;
    cursor: pointer;
  }

  &:active {
    transition: all 0s;
    background: #424242;
    cursor: pointer;
  }

  & p {
    padding: 0 1rem;
  }
}

.selected {
  background-color: #424242;
}


// ::-webkit-scrollbar {
//   width: 16px;
// }
//
// /* Track */
// ::-webkit-scrollbar-track {
//   background: #232528; /*424242*/
// }
//
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #646464;
//   padding: 4px;
//   border-left:4px solid #232528;
//   border-right:4px solid #232528;
// }
//
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
